.elementor-field-type-verification:not(.code-sent) {
  display: none;
}

.elementor-field-type-verification .send-code-again {
  margin-left: auto;
  margin-top: 10px;
}

.elementor-field-type-verification .send-code-again .normal {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.elementor-field-type-verification .send-code-again .normal:hover {
  color: #0056b3;
  text-decoration: none;
}

.elementor-field-type-verification .send-code-again .success {
  color: #000;
  text-decoration: none;
  cursor: auto;
}

.elementor-field-type-verification .send-code-again .error {
  color: darkred;
  text-decoration: none;
  cursor: auto;
}

.elementor-field-type-verification .send-code-again:focus {
  outline: none;
  text-decoration: none;
  color: #0056b3;
}

.elementor-field-type-verification .send-code-again.loading .loader {
  width: 10px;
  border-radius: 50%;
  animation: loading 1s infinite linear alternate;
  height: 10px;
  display: inline-block;
  margin-left: 30px;
  margin-right: 21px;
}

.elementor-field-type-verification .send-code-again:not(.loading) .loader {
  display: none;
}

@keyframes loading {
  0% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #000
  }
  33% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #0002
  }
  66% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #0002
  }
  100% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #000
  }
}
